body {
  padding: 20px;
  background: #f8f8f8;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
#footer {
  font-size: 11px;
  display: flex;
}
#footer .footer-col {
  flex: 1;
}
h1 {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
}
.bar {
  shape-rendering: crispEdges;
}
.bar:hover {
  fill: #333333;
  transition: fill ease-in-out 200ms;
}
.axis text {
  fill: #666;
  font-size: 12px;
}
.axis path {
  shape-rendering: crispEdges;
  stroke: #888;
}
.y-axis path {
  display: none;
}
.axis line {
  display: none;
}
.btn {
  font-size: 11px;
  color: #adadad;
}
#sorting:hover, #sorting:focus {
  text-decoration: none;
  box-shadow: none;
}
#sorting img {
  opacity: 0.8;
}

/* Legend */
.legend {
  margin-bottom: 20px 0;
  list-style: none;
  padding: 0;
}
.legend-label {
  font-weight: 600;
  display: inline-block;
}
.legend-btn {
  display: inline-block;
  margin: 0 0 0 49px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.legend-btn:hover.legend-btn.inactive:hover  {
  opacity: 0.7;
}
.legend-btn.inactive {
  opacity: 0.5;
}
.legend-symbol {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  display: inline-block;
}
.legend-btn[data-year="2010"] .legend-symbol {
  background: #8dd3c7;
}
.legend-btn[data-year="2011"] .legend-symbol {
  background: #ffffb3;
}
.legend-btn[data-year="2012"] .legend-symbol {
  background: #bebada;
}
.legend-btn[data-year="2013"] .legend-symbol {
  background: #fb8072;
}
.legend-btn[data-year="2014"] .legend-symbol {
  background: #80b1d3;
}
.legend-btn[data-year="2015"] .legend-symbol {
  background: #fdb462;
}
.legend-btn[data-year="2016"] .legend-symbol {
  background: #b3de69;
}
.legend-btn[data-year="2017"] .legend-symbol {
  background: #fccde5;
}
.legend-btn[data-year="2018"] .legend-symbol {
  background: #d9d9d9;
}
.legend-btn[data-year="2019"] .legend-symbol {
  background: #bc80bd;
}

#tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}
.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: #888;
}
#tooltip ul {
  margin: 0px 0 0 0;
  padding-left: 20px;
}

/* Charts/Maps Grid */
.charts-row, .maps-row {
  margin-bottom: 15px;
}
.chart-svg {
  width: 100%;
  height: 320px;
  display: block;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.07);
}
.map-div {
  width: 100%;
  height: 390px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.07);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.map-div svg {
  width: auto;
  height: auto;
  display: block;
}
.footer {
  font-size: 11px;
  display: flex;
  margin-top: 6px;
}
.footer .footer-col {
  flex: 1;
}